.fJuLdf {
  background: #e13998 !important;
}

.ePEJzy {
  background: #e13998 !important;
}

.sc-fzXfLU {
  background: #e13998 !important;
}

rsc-float-button {
  background: #e13998 !important;
}

.bg-image {
  background-image: url('./components/image/avengers-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100vw;
  height: auto;
}