.fJuLdf {
  background: #e13998 !important;
}

.ePEJzy {
  background: #e13998 !important;
}

.sc-fzXfLU {
  background: #e13998 !important;
}

rsc-float-button {
  background: #e13998 !important;
}

.bghero {
  width: 900 px;
  height: 600 px;
  background-image: url('./components/image/wild-avengers.jpg');
  background-repeat: no-repeat;

}